<div>
<% if @user == current_user %>
  <p>edit</p>
  <%= form_with model: @user do |f| %>
  <h4>Name</h4>
    <%= f.text_field :name %>
  <h4>Introduction</h4>
    <%= f.text_area :introduction %>
  <%= f.submit 'Update User' %>
  <% end %>
<% end %>
</div>